<%= link_to 'my profile', user_path(current_user.id) %>
<h1>Teams Roster</h1>
<hr>
  <% @teams.each do |team| %>
  <div class="team-index-container">
    <%= image_tag team.image, class: 'team-icon' %>
    <span> <%= link_to team.name, team %> </span>
    <p><%= team.tag %></p>
    <hr>

    <!-- itterator for team.users.each do |player|-->

    <!-- <% team.users.each do |user| %>
      <h3> <%= link_to user.name, user_path(user) %> </h3>
      <%= image_tag user.image, class: 'user-icon' %>
    <% end %> -->
    <!-- <%= "@roster.class: #{@roster.class}" %> -->

  <% end %>
  </div>
