<%= link_to 'back to index', teams_path %>
<%= link_to 'my profile', user_path(current_user) %>
<hr>
<h1> <%= @team.name %> </h1>
<div class="team-icon">
  <%= image_tag @team.image %>
</div>
<h2> <%= @team.tag %> </h2>

<p> <%= @team.mission %> </p>
<hr />
<% @team.users.each do |user| %>
  <a href='<%= user_path(user) %>'><%= image_tag user.image, class: 'user-icon'%></a>
<% end %>

<hr />
<a href="#">link for joining team, if user is logged in</a>
