<%= link_to 'back to index', teams_path %>
<%= link_to 'my profile', user_path(current_user) %>
<hr>
<h1> <%= @team.name %> </h1>
<div class="team-icon">
  <%= image_tag @team.image %>
</div>
<h2> <%= @team.tag %> </h2>

<p> <%= @team.mission %> </p>
<hr>
<% @team.users.each do |user| %>
  <a href='<%= user_path(user) %>'><%= image_tag user.image, class: 'user-icon'%></a>
<% end %>
<hr>
<!-- user >> join/leave team (roster) -->
<!-- owner >> edit/kick_out/delete -->
 <%#= link_to 'join', new_roster_path %>

<%= form_for @roster, :url => join_team_path, :html => { :method => :post} do |f|%>
  <%= f.hidden_field :team_id, :value => @team.id %>
  <%= f.hidden_field :is_owner, :value => false %>
  <%= f.submit 'join' %>
<% end %>

<%= @team.rosters.find_by(is_owner: true).user.name %>
