<%= link_to 'back to index', teams_path %>
<%= link_to 'my profile', user_path(current_user) %>
<hr>
<h1> <%= @team.name %> </h1>
<div class="team-icon">
  <%= image_tag @team.image %>
</div>
<h2> <%= @team.tag %> </h2>

<p> <%= @team.mission %> </p>
<hr>
<% @team.users.each do |user| %>
  <a href='<%= user_path(user) %>'><%= image_tag user.image, class: 'user-icon'%></a>
<% end %>
<hr>

<% if @team.users.where(id: current_user).count == 0 %>
  user is not on team
  <%= form_for @roster, :url => join_team_path(@team), :html => { :method => :post} do |f| %>
    <%= f.hidden_field :team_id, :value => @team.id %>
    <%= f.hidden_field :is_owner, :value => false %>
    <%= f.submit 'join' %>
  <% end %>
<% else %>
  user is on team
  <%= link_to "leave team", team_roster_path(@team, @my_roster), method: :delete, data: { confirm: "You sure?" } %>
  roster: <%= @team.class %>
  <br>
  my_roster: <%= @my_roster.class %>
<% end %>

<hr>

owner: <%#= @team.rosters.find_by(is_owner: true).user.name %>
