<%= link_to 'teams index', teams_path %>

<h1> <%= @user.name %> </h1>
<%= image_tag @user.image %>
<hr>

<h2>Teams i own</h2>
<ul>
<% current_user.rosters.where(is_owner: true).each do |roster| %>
  <li>
  <%= link_to current_user.teams.find_by(id: roster.team_id).name, team_path(roster.team_id) %>
  </li>
<% end %>
</ul>

<hr>

<h2>Teams I've joined':</h2>

  <!-- <% current_user.rosters.where(user: current_user).each do |team| %>
    <%= team.team_id %>
  <% end %> -->
<ul>
<% current_user.teams.each do |team| %>
  <li>
    <%= link_to current_user.teams.find_by(id: team.id).name, team_path(team.id) %>
  </li>
<% end %>
</ul>
