<%= link_to 'teams index', teams_path %>

 <%= link_to 'edit profile', edit_user_path(@user) %>

<h1> <%= @user.name %> </h1>

<!-- <img src="http://vignette2.wikia.nocookie.net/villains/images/f/fa/Mojo-Jojo-Photo.gif/revision/latest?cb=20121011211806" alt="Mojojojo" /> -->
<%= image_tag @user.image %>

<hr>
<h2>Teams i own</h2>
  <% %>
  <ul>
    <% @user_owned_teams.each do |team| %>
    <li> ..team name.. </li>
    <li>my role: <%= team.role %></li>
    <% end %>
  </ul>
<hr>
<h2>Teams I'm apart of:</h2>
<% @user.teams.each do |team| %>
  <ul>
    <li><%= team.name %></li>
  </ul>
<% end %>
